In [2]:
from functools import total_ordering, reduce

# functools.total_ordering
Implement __eq__() method and one of  __lt__(), __le__(), __gt__(), or __ge__(), the others will be implemeneted automatically

In [3]:
@total_ordering
class Student:
    def __init__(self, fname, lname, rank):
        self.first_name = fname
        self.last_name = lname
        self.rank = rank
    
    def __eq__(self, other):
        return (self.first_name == other.first_name) and (self.last_name == other.last_name) and (self.rank == other.rank)
    
    def __lt__(self, other):
        return (self.first_name, self.last_name, self.rank ) <\
                (other.first_name, other.last_name, other.rank )

In [4]:
stud1 = Student("hello", "world", 42)

In [5]:
stud2 = Student("bye", "world", 43)

In [6]:
stud3 = Student("bye", "yolo", 11)

In [7]:
stud4 = Student("bye", "world", 46)

In [8]:
stud1 == stud2

False

In [9]:
stud1 < stud2

False

In [11]:
stud2 >= stud4

False

In [12]:
stud1 > stud2

True

In [13]:
@total_ordering
class BankBalance:
    def __init__(self, name='', balance=0):
        self.name = name
        self.balance = balance
    
    def __eq__(self, other):
        return (self.name, self.balance) == (other.name, other.balance)
    
    def __gt__(self, other):
        return (self.name, self.balance) > (other.name, other.balance)

In [14]:
acc1 = BankBalance("Adam", 10)
acc2 = BankBalance("Bob", 100)

In [15]:
acc1 == acc2

False

### __lt__ is implemented automatically

In [16]:
acc1<acc2

True

# functools.reduce
Reduce() applies a function which takes two elements of an iterable from left to right cummulatively, and returns a single value

In [17]:
my_list = [1, 2, 3, 4, 5, 6]

In [18]:
reduce(lambda x,y: x+y, my_list)

21

Internally the following operations are done:

In [19]:
((((1 + 2) + 3) + 4) + 5 + 6)

21

In [20]:
reduce(lambda x,y: x*y, my_list)

720

In [21]:
((((1 * 2) * 3) * 4) * 5 * 6)

720

In [22]:
my_list2 = [2, 3, 4]
reduce(lambda x,y: x**y, my_list2)

4096

In [23]:
((2**3) ** 4) # 8**4

4096

#### Supplying an intial value

In [25]:
print "With initial value", reduce(lambda x,y: x+y, my_list, 10)
#equivalent to ((((1 + 2) + 3) + 4) + 5 + 6) + 10

print "Without initial value", reduce(lambda x,y: x+y, my_list)

With initial value 31
Without initial value 21

# combining reduce with map

#### products of squares of number

In [26]:
my_new_list = [1, 2, 3, 4]

In [27]:
reduce(lambda x,y: x*y, map(lambda x: x**2, my_new_list))

576

In [28]:
(((1**2 * 2**2) * 3**2 ) * 4**2)

576

#### sum of cubes of numbers

In [29]:
reduce(lambda x,y: x+y, map(lambda x: x**3, my_new_list))

100

In [30]:
(((1**3 + 2**3) + 3**3 ) + 4**3)

100

#### sum of inverse of elements in a list

In [31]:
reduce(lambda x,y: x+y, map(lambda x: 1.0/x, my_new_list))

2.083333333333333

In [32]:
(((1.0/1 + 1.0/2 ) + 1.0/3.0 ) + 1.0/4.0)

2.083333333333333