# A simple CSV Reader example

In [1]:
# For the sake of this tutorial assume the csv file
# has been read into this string

csv_file = """ID,Designation,Name,Salary(USD)
123,Manager,John Doe,10000
157,Engineer,Jimmy Joe,5000
190,Engineer,Alice Holmes,6000
191,Accountant,Jack Oliver,8000
200,Inter,Jessica Homer,1000
202,HR Manager, Robert Stark,4000"""

In [2]:
# Split csv file into a list of lines
# Input: """ID,Designation,Name,Salary(USD)\n
# 123,Manager,John Doe, 10000\n
# 202,HR Manager, Robert Stark, 4000"""
#
# Output: ["ID,Designation,Name,Salary(USD)",
#         "123,Manager,John Doe, 10000",
#         "202,HR Manager, Robert Stark, 4000"]

def split_new_lines(lines):
    return lines.split('\n')

In [17]:
# Split list of lines into list of list of data
# Input :  ["ID,Designation,Name,Salary(USD)",
#         "123,Manager,John Doe, 10000",
#         "202,HR Manager, Robert Stark, 4000"]
#
# Output :  [["ID", "Designation", "Name", "Salary(USD)"],
#         ["123","Manager","John Doe", "10000",],
#         ["202","HR Manager", "Robert Stark", "4000"]]
#
def split_delimeter(list_lines, delim=','):
    return list(map(lambda x: x.split(delim), list_lines))

In [4]:
# Seperate header and data
# Header is at the start of the list
def seperate_header(lines):
    return lines[0], lines[1:]

In [10]:
#Create a dictionary using the header information
# Input : header=["ID", "Designation", "Name", "Salary(USD)"]
#         data_rows=[["123","Manager","John Doe", "10000"],
#         ["202","HR Manager", "Robert Stark", "4000"]]
#
#Output = [{'ID': '123','Designation': 'Manager','Name': 'John Doe','Salary(USD)': '10000'},
#          {'ID': '202','Designation': 'HR Manager','Name': ' Robert Stark','Salary(USD)': ' 4000'}]
#
def create_row(header, data_rows):
    return list(map(lambda x:{k:v for k,v in zip(header,x)} , data_rows))

In [11]:
#{k:v for k, v in (zip(["ID", "Designation", "Name", "Salary(USD)"], ["123","Manager","John Doe", "10000"]))}

In [20]:
#print("Lines after Split")
get_lines = split_new_lines(csv_file)
#print(get_lines)

#print("\nData items after Split")
get_rows_as_list = split_delimeter(get_lines, delim=',')
#print(get_rows_as_list)

#print("\n\n Keys ")
keys, values = seperate_header(get_rows_as_list)
#print(keys)
#print("\n Values")
#print(values)

In [21]:
create_row(keys, values)

[{'ID': '123',
  'Designation': 'Manager',
  'Name': 'John Doe',
  'Salary(USD)': '10000'},
 {'ID': '157',
  'Designation': 'Engineer',
  'Name': 'Jimmy Joe',
  'Salary(USD)': '5000'},
 {'ID': '190',
  'Designation': 'Engineer',
  'Name': 'Alice Holmes',
  'Salary(USD)': '6000'},
 {'ID': '191',
  'Designation': 'Accountant',
  'Name': 'Jack Oliver',
  'Salary(USD)': '8000'},
 {'ID': '200',
  'Designation': 'Inter',
  'Name': 'Jessica Homer',
  'Salary(USD)': '1000'},
 {'ID': '202',
  'Designation': 'HR Manager',
  'Name': ' Robert Stark',
  'Salary(USD)': '4000'}]