# List

In [1]:
my_list = [ 1, 3, 5, "hello", "world", [9, 10, 11]]

In [2]:
my_list[0]

1

In [3]:
my_list[4]

'world'

In [4]:
my_list[2:5]

[5, 'hello', 'world']

In [5]:
my_list[-2]

'world'

In [6]:
my_list.append(10000000000)
my_list

[1, 3, 5, 'hello', 'world', [9, 10, 11], 10000000000]

In [7]:
my_other_list = [ "yolo", "mortor", 567]

In [8]:
my_list.extend(my_other_list)
my_list

[1, 3, 5, 'hello', 'world', [9, 10, 11], 10000000000, 'yolo', 'mortor', 567]

In [9]:
for x in my_list:
    print x

1
3
5
hello
world
[9, 10, 11]
10000000000
yolo
mortor
567

In [10]:
my_list.index(5)

2

In [11]:
my_list.index(9)

ValueError: 9 is not in list

In [12]:
my_list.append(5)
print my_list
my_list.count(5)

[1, 3, 5, 'hello', 'world', [9, 10, 11], 10000000000, 'yolo', 'mortor', 567, 5]

2

In [15]:
my_list[2] = "yolo"
my_list

[1,
 3,
 'yolo',
 'hello',
 'world',
 [9, 10, 11],
 10000000000,
 'yolo',
 'mortor',
 567,
 5]

# Tuple

In [13]:
my_tuple = ( 1, 3, 5, "hello", "world", [9, 10, 11])

In [14]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
my_tuple[2] = 'yolo'

TypeError: 'tuple' object does not support item assignment

In [17]:
print my_tuple
my_tuple[5][1] = 'yolo'
print my_tuple

(1, 3, 5, 'hello', 'world', [9, 10, 11])
(1, 3, 5, 'hello', 'world', [9, 'yolo', 11])

In [18]:
my_tuple.index(5)

2

In [19]:
my_tuple.count(5)

1

In [20]:
for x in my_tuple:
    print x

1
3
5
hello
world
[9, 'yolo', 11]