# List

In [8]:
my_list = [1, 2, 3, "hello", "world", [5, 6, 7] ]

In [4]:
my_list[2]

3

In [5]:
for x in my_list:
    print x

1
2
3
hello
world
[5, 6, 7]

In [9]:
my_list.append(9)
my_list

[1, 2, 3, 'hello', 'world', [5, 6, 7], 9]

In [7]:
my_other_list = ["yolo", "swag", 888]
for elem in my_other_list:
    my_list.append(elem)
my_list

[1, 2, 3, 'hello', 'world', [5, 6, 7], 9, 'yolo', 'swag', 888]

In [10]:
my_list.extend(my_other_list)

In [11]:
my_list

[1, 2, 3, 'hello', 'world', [5, 6, 7], 9, 'yolo', 'swag', 888]

In [12]:
my_list[2] = 99

In [13]:
my_list

[1, 2, 99, 'hello', 'world', [5, 6, 7], 9, 'yolo', 'swag', 888]

In [14]:
my_list[2:5]

[99, 'hello', 'world']

In [18]:
my_list[-4]

9

In [19]:
len(my_list)

10

In [29]:
2 in my_list

True

# Tuple

In [30]:
my_tuple = (1, 2, 2, 3, "hello", "world", [5, 6, 7] )

In [22]:
for x in my_tuple:
    print x

1
2
3
hello
world
[5, 6, 7]

In [23]:
my_tuple[2] = 0

TypeError: 'tuple' object does not support item assignment

In [24]:
my_tuple[5]

[5, 6, 7]

In [25]:
my_tuple[5][1] ="hello"

In [26]:
my_tuple

(1, 2, 3, 'hello', 'world', [5, 'hello', 7])

In [27]:
len(my_tuple)

6

In [28]:
2 in my_tuple

True

In [32]:
my_tuple.count(3)

1

In [34]:
my_tuple.index(1)

0

In [35]:
del my_tuple

# Set

In [36]:
my_set = { 1, 2, 3, "hello", "world", (5, 6, 7)}

In [38]:
my_set.add(-1)
my_set

{-1, 1, 2, 3, 9, 'hello', 'world', (5, 6, 7)}

In [39]:
my_set.update([-3, -4, 10])
my_set

{-4, -3, -1, 1, 2, 3, 9, 10, 'hello', 'world', (5, 6, 7)}

In [42]:
my_set.discard(-4)

In [41]:
my_set

{-3, -1, 1, 2, 3, 9, 10, 'hello', 'world', (5, 6, 7)}

In [43]:
my_set.remove(-14)

KeyError: -14

In [44]:
set1 = { 1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}

In [45]:
set1 & set2

{4, 5}

In [46]:
set1 | set2

{1, 2, 3, 4, 5, 6, 7}

In [47]:
set1 ^ set2

{1, 2, 3, 6, 7}

In [48]:
my_new_set = set()

In [50]:
my_new_set = set([ 1, 4, 5])

# Dictionary

In [51]:
my_dict = { 1: "hello", 2: "world", "abcd": "yolo"}

In [52]:
my_dict[1]

'hello'

In [53]:
my_dict["abcd"]

'yolo'

In [54]:
my_dict["mary"] = "poppins"
my_dict

{1: 'hello', 2: 'world', 'abcd': 'yolo', 'mary': 'poppins'}

In [55]:
for (key, value) in my_dict.iteritems():
    print "Key is", key,
    print "It's values is", value

Key is abcd It's values is yolo
Key is 1 It's values is hello
Key is 2 It's values is world
Key is mary It's values is poppins

In [56]:
from collections import OrderedDict

In [59]:
my_new_dict = OrderedDict()
my_new_dict[1] = "hello"
my_new_dict[2] = "world"
my_new_dict['abcd'] = "yolo"

In [60]:
for (key, value) in my_new_dict.iteritems():
    print "Key is", key,
    print "It's values is", value

Key is 1 It's values is hello
Key is 2 It's values is world
Key is abcd It's values is yolo

In [61]:
my_dict["p"]

KeyError: 'p'

In [64]:
if not my_dict.get("p", None):
    print "P is not present"

P is not present