# Set

In [2]:
my_set = { 1, 2, 3, "Hello", "world", (5, 6, 7)}

In [3]:
my_set[2]

TypeError: 'set' object does not support indexing

In [4]:
for x in my_set:
    print x

1
2
(5, 6, 7)
3
world
Hello

In [7]:
my_set.add(-1)
my_set

{-1, 1, 2, 3, 'Hello', 'world', (5, 6, 7)}

In [8]:
my_set.add(-1)
my_set

{-1, 1, 2, 3, 'Hello', 'world', (5, 6, 7)}

In [10]:
my_other_set = {9, 10, 11, "yolo"}

In [11]:
my_set.update(my_other_set)

In [12]:
my_set

{-1, 1, 2, 3, 9, 10, 11, 'Hello', 'world', 'yolo', (5, 6, 7)}

In [14]:
my_set.add(-5)
my_set

{-5, -1, 1, 2, 3, 9, 10, 11, 'Hello', 'world', 'yolo', (5, 6, 7)}

In [15]:
set1 = { 1, 3, 5, 7}
set2 = { 1, 7, 9, 12}

In [16]:
set1 & set2

{1, 7}

In [18]:
set1 | set2

{1, 3, 5, 7, 9, 12}

In [19]:
set1 ^ set2

{3, 5, 9, 12}

In [20]:
my_list = [1, 3, 5]
my_new_set = set(my_list)

In [21]:
my_new_set

{1, 3, 5}

In [22]:
empty_set = set()

In [23]:
empty_set

set()

# Dictionary

In [24]:
my_dict = { 1: "abcd", "hello": "world", 3 : [1, 2, 5]}

In [25]:
my_dict[1]

'abcd'

In [26]:
my_dict['hello']

'world'

In [27]:
my_dict[1233]

KeyError: 1233

In [31]:
print my_dict.get(1233, "key not present")

key not present

In [33]:
#For Python 2.x versions
for (key, value) in my_dict.iteritems():
    print "Value of ", key, " is ", value

Value of  1  is  abcd
Value of  3  is  [1, 2, 5]
Value of  hello  is  world

In [34]:
my_dict['mary'] = "poppins"
my_dict

{1: 'abcd', 3: [1, 2, 5], 'hello': 'world', 'mary': 'poppins'}

In [35]:
from collections import OrderedDict

In [41]:
my_new_dict = OrderedDict()
my_new_dict[1] = "hello"
my_new_dict['World'] = "yolo"
my_new_dict[3] = 456
my_new_dict['my_list'] = [1, 3, 5]

In [42]:
#For Python 2.x versions
for (key, value) in my_new_dict.iteritems():
    print "Value of ", key, " is ", value

Value of  1  is  hello
Value of  World  is  yolo
Value of  3  is  456
Value of  my_list  is  [1, 3, 5]

In [44]:
#For Python 3.x versions
for (key,value) in my_new_dict.items():
    print "Value of ", key, " is ", value

Value of  1  is  hello
Value of  World  is  yolo
Value of  3  is  456
Value of  my_list  is  [1, 3, 5]